labs/code_ex/code_05_48_s.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="employeeType">
    <xsd:sequence>
      <xsd:element name="employee_id" type="xsd:int"/>
      <xsd:element name="last_name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="employee" type="employeeType"/>
</xsd:schema>
