labs/code_ex/code_05_24_s.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="employee">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="employee_id"/>
        <xsd:element name="last_name"/>
        <xsd:element name="email">
          <xsd:simpleType>
            <xsd:list itemType="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>

